@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-image: url("../img/pexels-freestocks-76942.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cabecalho {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: rgba(255, 254, 254, 0.5);
    height: 150px;
    
}

.logotipo {
    width: 200px;
    padding: 10px;
}


.menu {

    display: flex;
    gap: 180px;
}
